{% extends 'base.html' %}
{% load static %}

{% block title %}ユーザー名変更{% endblock %}

{% block head %}
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
  <main>
    <div class="container">
      <h2>ユーザー名変更</h2>
      <!-- ログイン時 -->
      {% if user.is_authenticated %}
        {% if request.session.check == 'username' %}
          <form method="post">
            {% csrf_token %}
            <p>現在のユーザー名：{{ user.username }}</p>
            <input type="text" name="username" placeholder="ユーザー名">

            <button class="btn-register" type="submit">完了</button>
          </form>
        {% else %}
          <p>パスワード確認ができていません</p>
        {% endif %}
        <a class="register-link" href="https://app.omoide-teikibin.net/account">ユーザ情報ページへ戻る</a>
      <!-- ログアウト時 -->
      {% else %}
        <p>ログインしていません</p>
        <a href="{% url 'index' %}">ログインページへ</a>
      {% endif %}
    </div>
  </main>
{% endblock %}