{% extends 'base.html' %}
{% load static %}

{% block title %}ユーザー名変更{% endblock %}

{% block head %}
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
  <main>
    <div class="container">
      <h3>パスワード変更完了</h3>
      <!-- ログイン時 -->
      {% if user.is_authenticated %}
    
      <a href="{% url 'accounts:userinfo' %}">ユーザー情報ページへ</a>
    
      {% else %}
      <p>ログインしていません</p>
      {% endif %}
    </div>
  </main>
{% endblock %}