{% extends 'base.html' %}
{% load static %}

{% block title %}パスワード変更{% endblock %}

{% block head %}
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
  <main>
    <div class="container">
      <h2>パスワード変更</h2>
      <!-- ログイン時 -->
      {% if user.is_authenticated %}
      
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        <button class="btn-register" type="submit">完了</button>
      </form>
      <a class="register-link" href="{% url 'accounts:userinfo' %}">ユーザー情報ページへ戻る</a>

      {% else %}
        <p>ログインしていません</p>
        <a href="{% url 'index' %}">ログインページへ</a>
      {% endif %}
    </div>
  </main>
{% endblock %}