{% extends 'base.html' %}
{% load static %}

{% block title %}ログイン{% endblock %}

{% block head %}
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
  <main>
  <div class="container">
    <h1>ログイン</h1>
    <!-- ログインフォーム -->
    <form method="post">
      {% csrf_token %} {{ form }}
      <button class="btn-login-act" type="submit">ログイン</button>
      <a class="register-link" href="{% url 'accounts:signup' %}">新規登録はこちら</a>
    </form>
  </div>
  </main>
{% endblock %}