<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>User Info</title>
  </head>

  <body>
    <main>
      <div>
        <h3>マイページ</h3>
        {% if user.is_authenticated %}
        <p>{{ user.get_username }}でログイン中</p>
        <a href='../{{ object.id }}'>ユーザー情報へ</a>
        <form>
          {% csrf_token %}
          <p>ニックネーム：{{ object.username }}<a href='./{{ object.id }}'>変更</a></p>
        </form>
        
        {% else %}
        <p>ログインしていません</p>
        {% endif %}
      </div>
    </main>
  </body>

</html>