<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>User Info</title>
  </head>

  <body>
    <main>
      <div>
        <h3>マイページ</h3>
        {% if user.is_authenticated %}
        <p>{{ user.get_username }}でログイン中</p>
        <form method="post" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
            <a href='../{{ object.id }}'>ユーザー情報へ</a>
            <button type="submit">ログアウト</button>
        </form>
        <form method = "post">
          {% csrf_token %}
          <p>ユーザー名：{{ object.username }}<a href='./{{ object.id }}'>変更</a></p>
        </form>
        
        {% else %}
        <p>ログインしていません</p>
        {% endif %}
      </div>
    </main>
  </body>

</html>