{% extends 'base.html' %}
{% load static %}

{% block title %}サインアップ{% endblock %}

{% block head %}
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
  <main>
    <div class="container">
      <!-- ログイン時 -->
      {% if user.is_authenticated %}
        <h4>パスワードを入力</h4>
        <form method="post">
          {% csrf_token %}
          {{ form.password.label_tag }}
          {{ form.password }}
          {% if form.password.errors %}
            {{ form.password.errors }}
          {% endif %}
          {% if error_message %}
            <div class="errorlist"><li>{{ error_message }}</li></div>
          {% endif %}
          <div class="button-group">
            <button class="btn-outline-orange" onclick="location.href='{% url "accounts:userinfo" %}'">戻る</button>
            <button class="btn-orange" type="submit">次に進む</button>
          </div>
        </form>

      <!-- ログアウト時 -->
      {% else %}
        <p>ログインしていません</p>
      {% endif %}
    </div>
  </main>
{% endblock %}