{% extends 'base.html' %}
{% load static %}

{% block title %}メール変更リンク送信{% endblock %}

{% block head %}
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
    <main>
      <h3>メール変更リンク送信</h3>

      {% if success_message %}
        <p style="color: green;">{{ success_message }}</p>
        <p>メールボックスを確認してください</p>
      {% else %}
        <p>ユーザー名：{{ username }}</p>
        <form method="post">
          {% csrf_token %}
          <input type="password" name="password" placeholder="パスワード"><br>
          <button type="submit">送信</button>
        <p>メールアドレス：{{ email }}</p>
        <p>{{ message }}</p>
        {% if error_message %}
          <p style="color: red;">{{ error_message }}</p>
        {% endif %}
      {% endif %}
    </main>
  </body>

</html>