<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>User Info</title>
  </head>

  <body>
    <main>
      <div>
        <h3>ユーザー情報</h3>
        {% if user.is_authenticated %}
        <p>{{ user.get_username }}でログイン中</p>
        <form method="post" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
            <a href='./mypage/{{ object.id }}'>マイページへ</a>
            <button type="submit">ログアウト</button>
        </form>
        <form>
          <p>ユーザー名：{{ object.username }}<a href='./passwordcheck'>変更</a></p>
          <p>パスワード：●●●●●●●●<a href='./passwordcheck'>変更</a></p>
          <p>email：{{ object.email }}<a href='./passwordcheck'>変更</a></p>
          <p>生年月日：{{ object.birthday }}<a href='./{{ object.id }}'>変更</a></p>
          <p>登録日：{{ object.date_joined }}</p>
        </form>
        
        {% else %}
        <p>ログインしていません</p>
        {% endif %}
      </div>
    </main>
  </body>

</html>